@page
@model BITS_Project.Pages.Tournaments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tournament.SpaceID" class="control-label"></label>
                <input min=" 1 " max=" 5" asp-for="Tournament.SpaceID" class="form-control">    
                </input>

                <span asp-validation-for="Tournament.SpaceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.DateFor" class="control-label"></label>
                <input asp-for="Tournament.DateFor" class="form-control" />
                <span asp-validation-for="Tournament.DateFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.ActivityType" class="control-label"></label>
                <input asp-for="Tournament.ActivityType" class="form-control"></input>
                <span asp-validation-for="Tournament.ActivityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.MaxTeams" class="control-label"></label>
                <input min="2" asp-for="Tournament.MaxTeams" class="form-control"/>
                <span asp-validation-for="Tournament.MaxTeams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.MaxTeamSize" class="control-label"></label>
                <input min="1" asp-for="Tournament.MaxTeamSize" class="form-control"/>
                <span asp-validation-for="Tournament.MaxTeamSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.MinTeamSize" class="control-label"></label>
                <input min="0" asp-for="Tournament.MinTeamSize" class="form-control"/>
                <span asp-validation-for="Tournament.MinTeamSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
