@page
@model BITS_Project.Pages.EmployeeHomepageModel
@{
    Layout = "_EmployeeLayout";
    ViewData["title"] = "Employee Homepage";
}

<div class="row text-center">
    <div class="col-12">
        <h3>Employee Homepage</h3>
    </div>
</div>
<div class="row text-center">
    <div class="col-12">
        <h6>ID: @Model.Username</h6>
    </div>
</div>

