@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .jumbotron {
        background-image: url('~/wwwroot/img/workout.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
</style>

<div class="container">
    <div class="row jumbotron">
        <h4>Welcome to the Brookings Indoor Training Site (BITS) Website!</h4>
    </div>

    <div class="row mb-auto">
        <div class="col-md-4">
            <div class="row no-gutters border mb-4">
                <div class="col p-4 mb-4 ">
                    <p class="card-text">
                        We'll add a ton of cute stuff here about BITS!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row no-gutters border mb-4">
                <div class="col p-4 d-flex flex-column position-static">
                    <p class="card-text mb-auto">
                        You can build the application by following the steps in a series of tutorials.
                    </p>
                    <p>
                        <a href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro" class="stretched-link">See the tutorial</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row no-gutters border mb-4">
                <div class="col p-4 d-flex flex-column">
                    <p class="card-text mb-auto">
                        You can download the completed project from GitHub.
                    </p>
                    <p>
                        <a href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-rp/intro/samples" class="stretched-link">See project source code</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>